*{
    box-sizing: border-box;
}
/* header */
.header-box{
    width: 1200px;
    margin: 0 auto;
}
.logo{
    height: 25px;
    float: left;
    display: flex;
    background: url(../img/logo.png) center left no-repeat;
    background-size: contain;
}
.logo span{
    display: block;
    font-size: 16px;
    padding-left: 25px;
}
.header-ul{
    float: right;
    display: flex;
}
.header-ul li{
    margin-left: 16px;
}
#mob-btn{
    float: right;
    width: 36px;
    height: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#mob-btn .icon-bar{
    background-color: #888;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
.hidden{
    display: none;
}
@media screen and (max-width:970px) {
    .header-box{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .logo{
        height: 1.25rem;
    }
    .logo span{
        font-size: 0.8rem;
        padding-left: 1.25rem;
    }
    .header-ul{
        font-size: 0.8rem;
        display: none;
    }
    #mob-btn{
        width: 1.8rem;
        height: 1.4rem;
    }
}

@media screen and (min-width:1170px) {
    #mob-btn{
        visibility:hidden;
    }
    ol{display: none;}
}