*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
    box-sizing: border-box;
}
/* header */
header{
    width: 100%;
    height: 50px;
    background-color: #abcdef;
    flex: 0 0 auto;
}
.box{
    height: 100%;
    margin: 0 auto;
}
header .box .logo{
    float: left;
    line-height: 50px;
}
header .box .logo i{
    display: block;
    float: left;
    width: 24px;
    height: 24px;
    background-image: url('../img/logo.png');
    background-size: contain;
    margin-top: 12px;
}
header .box .logo span{
    display: block;
    float: left;
    margin-left: 15px;
    color: seashell;
}

header .box ul{
    float: right;
    line-height: 50px;
}
header .box ul li{
    float: left;
    margin-left: 15px;
}
header .box ul li a{
    color: seashell;
}

/* footer */
footer{
    width: 100%;
    height: 320px;
    background-color: #abcdef;
    flex: 0 0 auto;
}
footer .msg{
    width: 90rem;
    height: 100%;
    margin: 0 auto;
    padding-top: 30px;
}
footer .msg .txt,.person{
    float: left;
}
footer .code{
    float: right;
}
footer .msg .person{
    width: 100%;
    height: 50px;
    border-top: 1px solid gray;
    text-align: center;
    line-height: 50px;
    color: seashell;
    margin-top: 30px;
}

/* article */
article{
    width: 100%;
    flex: 1 0 auto;
}
article .title{
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}
article .title span{
    display: block;
    width: 70px;
    margin:0 auto;
    line-height: 50px;
    border-bottom: 3px solid black;
}
article ul{
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
    align-items: flex-end;
    gap: 10px;
    flex-wrap: wrap;
}
article .movie ul li{
    flex: 1;
    text-align: center;
    padding: 4px;
    border: 1px solid darkcyan;
    background-color: rgba(100, 148, 237, 0.336);
    display: flex;
    flex-direction: column;
}
article .movie ul li img{
    object-fit: cover;
    flex: 2;
}
article ul li span{
    padding-top: 7px;
    flex: 1;
}
article .book ul li{
    display: flex;
    width:329px;
    text-align: center;
    padding: 4px;
    border: 1px solid darkcyan;
    background-color: rgba(100, 148, 237, 0.336);
    flex-direction: column;
    justify-content: flex-end;
}
article .book ul li:nth-child(1){
    height: 534px;
}
article .book ul li:nth-child(2){
    height: 554px;
}
article .book ul li:nth-child(3){
    height: 524px;
}
article .book ul li:nth-child(4){
    height: 504px;
}
article .book ul li img{
    width: 320px;
    align-items: stretch;
    flex: 1;
}

/* 超小屏幕（手机） */
@media screen and (max-width:768px){
    .container{
        width:100%;
    }
    header .container ul{
        display: none;
    }
}
/* 小屏幕（平板，大于等于 768px） */
@media screen and (min-width: 768px) {
    .container{
        width:750px;
    }
}

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media screen and (min-width: 992px) {
    .container{
        width:970px;
    }
}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media screen and (min-width: 1200px) {
    .container{
        width:1170px;
    }
}